# Matrix mode, can be development or production
MATRIX_MODE="development"

# Endpoints and api keys for data access
DATABASE_URL="mongodb://localhost:27017/"
ZION_ENDPOINT="wss://zion-development.com/ws"
API_KEY="ba7cd1a6-ef8b-4831-9d2a-30c5b2a024cc"

# Logging level
LOG_LEVEL="DEBUG"
